*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
} */

.form {
    width: 50%;
    position: relative;
    height: 60px;
    overflow: hidden;
    /* background-color: ;red; */
}

.form input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 10px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.form label::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}


.form input:focus + .label-name::after, 
.form input:valid + .label-name::after {
    transform: translateX(0%);
}


.button {
    padding-top:
    30px;
}

/* .intro {
    font-size: 14px;
    padding: 15px;
    height: -50%;
    /* background-color: red;
    text-align: center;
    text-justify: auto;
} */ 

.bigtitle {
    padding-top: 50px;
}

p, h1, span, label, button {
    color: #191d27;
}

.result {
    padding-top: 30px;
}

.setup div{
    display: flex;
    justify-content: center;
}

.decrypt div{
    display: flex;
    justify-content: flex-end;
}

 