<div class="header">


    <ul class="nav nav-pills pull-right">
    <!-- 
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Writing
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="{{ page.blogging }}"><a href="/blogging" title="Blogging">Blogging</a></li>
          <li class="{{ page.presentations }}"><a href="/notes" title="Notes">Notes</a></li>
        </ul>
          </li>
     -->
       <li class="{{ page.cryptography }}"><a href="index_cryptography.html" title="EC Calculator">Cryptography</a></li>

       <li class="{{ page.torsion }}"><a href="index_torsion.html" title="EC Calculator">Torsion</a></li>
  
       <li class="{{ page.primality }}"><a href="index_primality.html" title="EC Calculator">Primality</a></li>
    
       <li class="{{ page.distribution }}"><a href="index_distribution.html" title="EC Calculator">Distribution</a></li>
        
        <li class="{{ page.plot }}"><a href="index_plot.html" title="EC Calculator">Plot</a></li>
   
        <li class="{{ page.addition }}"><a href="index_addition.html" title="EC Calculator">Addition</a></li>
        
        <li class="{{ page.multiplication }}"><a href="index_multiplication.html" title="EC Calculator">Multiplication</a></li>
    </ul>
        <h3 class="text-muted" ><a href="https://hollebenthiago.github.io">Thiago Holleben</a></h3>
    </div> <!-- /header -->